
h2 {
    font-family: "Work Sans",sans-serif;
    font-weight: 200;
    font-size: 66px;
    color: #173754;
    margin: 0;
}

h3 {
    font-family: "Work Sans",sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #fff;
    margin: 0;
}

p {
    font-family: "Work Sans",sans-serif;
    line-height: 1.42857143
}

.container {
}

.header {
    background-color: #fff;
    height: 60px;
    border-bottom: 1px solid #000;
}

.section {
}

.hero {
    height: 422px;
    background: no-repeat top center url('../img/Simmons4B_1.jpg') rgba(0, 0, 0, 0.55);
    background-size: 100%;
}

.dry {
    border-top: 5px solid #173754;
    background-color: #fff;
    padding: 80px 0;
}

.dry_alt {
    border-top: 5px solid #ff3300;
    margin-bottom: 150px;
}

.dry p {
    font-size: 20px;
}

.wrapper {
    text-align: center;
}

.wrapper-mid {
    width: 768px;
    margin: 0 auto;
}

.footer {
    width: auto;
    height: 249px;
    padding: 50px 15px;
    background-color: #173754
}

.footer_alt {
    text-align: center;
}

.footer_nav ul {
    list-style-type: none;
    text-align: center;
}

.footer_nav li {
    display: inline-block;
    padding: 0px 15px;
}

.footer_nav a {
    font-family: "Work Sans",sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
